body {
  color: #212121;
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;
}

/* header part (+logo-bottom) */
.top-row {
  background-color: #ffffff;
}
.logo,
.logo-bottom {
  font-family: Raleway;
  font-style: Bold;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}
.logo-bottom {
  color: #ffffff;
}
span {
  color: #2196f3;
}
.menu {
  font-style: Medium;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: #212121;
}

.top-contacts {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link:hover,
.link-contact:hover,
.link-location:hover {
  color: #2196f3;
}
.link-contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
/* ------------------------------- */

/* main part */
.banner {
  background-color: #2f303a;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 00.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #212121;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #f5f4fa;
}
.button:hover,
.btn:hover {
  background-color: #2196f3;
  cursor: pointer;
}

.assets-title {
  font-style: bold;
  font-size: 14px;
  line-height: 1.14;
}

.assets-text {
  font-style: regular;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
.activities {
  font-size: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team {
  font-size: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.person-name {
  font-size: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: #212121;
}
.person-position {
  font-size: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: #757575;
}

.picture-title {
  font-size: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.picture-caption {
  font-size: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ------------------------------- */
/* footer part*/

.bottom-row {
  background-color: #2f303a;
}

.location {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.link-location {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* ------------------------------- */
